.food-pic {

    width: 100%;
    height: 80%;
}


.box-title {
    height: 60px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-title>h5 {
    margin: 0px;

}

.box,
.box-side {
    height: 120px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.box-side {

    align-items: center;

}

.box {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 2px !important;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.meal-row {
    margin: 5px 0px 5px 0px;
    min-height: 100px;

}

#recipe-area {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

/* splits calendar into even 8ths normally or 7ths when small */
.s8ths {
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s8ths {
    width: 14.2857142857%;

}

.xtra-info {
    display: none;
}


@media only screen and (min-width: 720px) {
    .row .col.s8ths {
        width: 12.5%;
    }

    .xtra-info {
        display: inline;
    }

    .box {
        padding: 8px !important;
    }
}