@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Permanent+Marker|Rock+Salt|Sedgwick+Ave+Display');

/* font-family: 'Sedgwick Ave Display',
cursive;
font-family: 'Leckerli One',
cursive;
font-family: 'Rock Salt',
cursive;
font-family: 'Permanent Marker',
cursive; */

.modal-overlay {
    background-color: #33691e;
}

.card-action {
    padding: 10px !important;
}

#logo {
    height: 40px;
    margin: 10px;
}

nav {
    height: 60px;
}

.parallax-container {
    height: 300px;
}

.font1 {
    font-family: 'Sedgwick Ave Display',
        cursive;
}

.font2 {
    font-family: 'Leckerli One',
        cursive;
}

.font3 {
    font-family: 'Rock Salt',
        cursive;
}

.font4 {
    font-family: 'Permanent Marker',
        cursive;
    font-size: 150%;
}

.spacer {
    height: 200px;
}