@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Permanent+Marker|Rock+Salt|Sedgwick+Ave+Display');

/* font-family: 'Sedgwick Ave Display',
cursive;
font-family: 'Leckerli One',
cursive;
font-family: 'Rock Salt',
cursive;
font-family: 'Permanent Marker',
cursive; */

/* Card Styling */
.ingredients td,
.ingredients p {
    padding: 5px 10px 5px 0 !important;
    line-height: 150% !important;
}

.instructions li,
.instructions p {
    line-height: 150% !important;
}

.food-summary p {
    padding: 5px 0px 5px 0 !important;
}

/* Modal-styling */

.modal-overlay {
    background-color: #33691e;
}

.card-action a {
    margin-right: 15px !important;
}

/* Navbar Styling */
#logo {
    height: 40px;
    margin: 10px;
}

nav {
    height: 60px;
}

.parallax-container {
    height: 300px;
}

/* quote image styluing */

#quotespace {
    width: 100%;
}

.round-corners {
    border-radius: 30px;
}

.leaf {
    width: 50%;
}


/* favorite page styling */
#col-1,
#col-2 {
    padding: 0px;
}

/* Google Fonts */
.font1 {
    font-family: 'Sedgwick Ave Display',
        cursive;
}

.font2 {
    font-family: 'Leckerli One',
        cursive;
}

.font3 {
    font-family: 'Rock Salt',
        cursive;
}

.font4 {
    font-family: 'Permanent Marker',
        cursive;
    font-size: 150%;
}

.spacer {
    height: 200px;
}